.block-o {
  text-align: center;
  font-size: 50px;
  background: -webkit-linear-gradient( top right, rgb(240, 181, 103), rgb(255, 94, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900 ;  
  cursor: not-allowed;
 }

.block-x {
  text-align: center;
  font-size: 50px;
  background: -webkit-linear-gradient( top right, white, rgb(3, 3, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900 ; 
  -webkit-box-shadow: 0px 200px 50px -155px rgba(64,75,199,1);
  -moz-box-shadow: 0px 200px 50px -155px rgba(64,75,199,1);
  box-shadow: 0px 200px 50px -155px rgba(64,75,199,1);
  cursor: not-allowed;
}

.block-row {
  min-height : 90px;
  cursor: pointer;
}

.game {
  -webkit-box-shadow: 0px 4px 76px -34px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 76px -34px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 76px -34px rgba(0,0,0,0.75);
  border-radius: 10px;
}

.score-count {
  border-radius: 20px !important;
  -webkit-box-shadow: 0px 4px 76px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 76px -24px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 76px -24px rgba(0,0,0,0.75);
}

.custom-btn {
  border-radius: 20px !important;
  -webkit-box-shadow: 0px 4px 23px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 23px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 23px -10px rgba(0,0,0,0.75);
}
